{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "rules": {
        "no-restricted-imports": "off",
        "no-useless-constructor": "off",
        "prefer-promise-reject-errors": "off",
        "new-cap": "off",
        "no-console": "off",
        "object-curly-spacing": "off"
      }
    }
  ]
}