{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "exclude": [
    "bridge/**",
    "solo/**",
    "**/*.d.ts",
    "**/*.spec.ts",
    "coverage/**",
    "src/index.ts",
    "src/injections.ts"
  ],
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80,
  "check-coverage": true,
  "cache": false,
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src/**/*.ts"
  ]
}